.container {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    padding-right: 10px;
}